<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moment 1 - Om sidan</title>

    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

    <div class="logo">
        <h1>Moment 1</h1>
    </div>

    <header>
        <nav>
            <ul class="menu">
                <li><a href="/">Startsida</a></li>
                <li><a href="/form">Lägg till kurser</a></li>
                <li class="current-location"><a href="/about">Om sidan</a></li>
            </ul>
        </nav>
    </header>

    <main class="about">
        <h2>Om sidan</h2>
        <p>
            Webbplatsen låter användare skriva in kurser (obligatorisk info: kurskod, kursnamn, kursprogression och länk till kursplanen) som de har läst i ett formulär som 
            sedan sparas i en databas och publiceras på webbplatsens startsida. Väl på startsidan kan användaren se kurserna i en tabell (vars utseende hade kunnat <i>finslipas</i>) samt radera 
            kurser efter behov. Tanken är att sidan ska fungera som ett CV.
        </p>


        <p>
            webbplatsen använder sig av relationsdatabasen PostgreSQL som hostas på Render.
        </p>
        

        <h3>Slutsatser</h3>
        <p>
            Det är roligt att ha börjat titta på baksidan av den utveckling vi lärt oss. Att man kan göra samma sak på så många olika sätt är väldigt intressant! Jag blir hela tiden
            förvånad över vad som är möjligt att göra.
        </p>

        <p>
            I framtida moment skulle jag vilja utveckla hur jag designar webbsidor, för just nu blir det mer eller mindre samma design i 
            varje moment. Dessutom är det svårt att få ihop olika färger som blir intressanta. Till exempel försökte jag använda en färgpalett
            jag hittade online, men den känns inte så bra som jag skulle  vilja.
        </p>

        <p></p>
    </main>
    
    <footer>
        <p>Amanda Thim - amth2302</p>
    </footer>
</body>
</html>