<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moment 1 - Startsida</title>

    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

    <div class="logo">
        <h1>Moment 1</h1>
    </div>

    <header>
        <nav>
            <ul>
                <li class="current-location"><a href="/">Startsida</a></li>
                <li><a href="/form">Lägg till kurser</a></li>
                <li><a href="/about">Om sidan</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Tillagda kurser:</h1>
        <button>Sortera efter kursnamn</button>
        <!--i server.js
            client.query("SELECT * FROM courses ORDER BY coursename DESC" och sen hela error biten)    
        -->
        <article>
            <% courses.forEach((course) =>  { %>
                <h2><%= course.coursename %></h2>
                <p>Kurskod:<%= course.code %></p>
                <p>Kursprogression: <%= course.progression %></p>
                <p>Kursplan: <%= course.syllabus %></p>
            <% }) %>
            <button class="delete-button" type="submit" name="delete" **value="<& course[i] %>"**>Ta bort kurs</button>
        </article>
    </main>
</body>
</html>