body {
    max-width: 70%;
    width: 100%;
    height: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
    margin: auto auto;
    background-color: #FAF9EE;
    /*
    green: #A2AF9B
    beige: #DCCFC0
    grey: #EEEEEE
    */
}

.logo {
    background-color: #789e63; /* #A2AF9B   #9bc485  #a7a590 #9e9c88*/
    color: white;
    text-align: center;
    margin: auto auto;
    padding: 1.2em;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

header {
    width: 100%;
    height: auto;
    text-align: center;
    margin: auto auto;
    padding: 1.2em;
    border-radius: 25px;
    margin-left: -18%;
}

/* main menu */
.menu {
    list-style-type: none;
}


.current-location {
    color: white;
    text-decoration: underline 2px;
}

.menu li {
    margin-top: 1em;
    background-color: #867d74;
    color: white;
    width: 100%;
    height: auto;
    padding: 0.8em; 
    border-radius: 25px;
}

.menu li:hover {
    background-color: #789e63;
    cursor: pointer;
}

a {
    text-decoration: none;
    text-align: center;
}

a:visited {
    color: white;
}

/* main-content */
main {
    background-color: #adab96;
    color: white;
    border-radius: 25px;
    width: 80%;
    height: auto;
    padding: 1.8em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;

}

.main-courses {
    overflow-x: scroll;
}

/* kurstabell */
table {
    margin-top: 1.2em;
    padding-right: 10%;
    text-align: center;
}

th, td {
    border: white 2px solid;
    gap: 10px;
    padding: 0.4em;
}

.delete-button {
    background-color: #49443f;
    color: white;
    border: none;
    border-radius: 15px;
    width: 4em;
    height: 7em;
    padding: 1em;
    cursor: pointer;
}

.delete-button:hover {
    background-color: rgb(15, 15, 15);
}



/* formulär */
form label, .user-message {
    font-weight: 600;
}

form input {
    margin-top: 0.5em;
    border-radius: 10px;
    height: 2em;
    width: 70%;
    border: 2px solid #9e9c88;
} 

form div {
    margin-bottom: 1em;
}

.errors {
    list-style-type: none;
    margin-left: -18%;
}

.errors li {
    margin: 0.6em;
}

.hidden-link:hover {
    text-decoration: underline;
    color: rgb(15, 15, 15)
}

#addCourseButton {
    background-color: #49443f;
    color: white;
    border: none;
    width: 72%;
    height: 2.3em;
    cursor: pointer;
    margin-bottom: 2em;
}

#addCourseButton:hover {
    background-color: rgb(15, 15, 15);
}

/* länk till startsidan */
.hidden-link {
    color: #49443f;
}



/* om sidan */
.about h3 {
    margin-top: 2.2em;
}

/* footer */
footer {
    background-color: #789e63;  
    color: white;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px; 
    width: 92%;
    height: auto;
    padding: 0.8em;
    text-align: center;
}



/* tablet */
@media (min-width: 600px) {

    header {
        margin-left: -10%;
    }

    main {
        width: 87%;
        padding-left: 2.8em;
    }

    #addCourseButton {
        width: 51%;
    }


    /* formulär */
    .errors {
        margin-left: -8.5%;
    }

    /* om sidan */
    .about {
        padding: 3em;
    }

    
}


/* desktop */
@media (min-width: 1024px) {

    .logo {
        width: 50%;
    }

    header {
        margin-left: 18%;
        width: 55%;
    }

    main {
        width: 46%;
    }

    /* tabell */
    table {

        padding-right: 0;
    }

    #addCourseButton {
        height: 2.5em;
    }



    /* formulär */
    form input {
        width: 50%;
    }



    /* footer */
    footer {
        width: 54%;
        margin-left: auto;
        margin-right: auto;
    }
}