body {
    max-width: 70%;
    width: 100%;
    height: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
    margin: auto auto;
    background-color: #FAF9EE;
    /*
    green: #A2AF9B
    beige: #DCCFC0
    grey: #EEEEEE
    */
}

.logo {
    background-color: #789e63; /* #A2AF9B   #9bc485  #a7a590*/
    color: white;
    text-align: center;
    margin: auto auto;
    padding: 1.2em;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

main p, main h2, main h3, main span, main form label {
    text-shadow: -1px 0 #9e9c88, 0 1px #9e9c88, 1px 0 #9e9c88, 0 -1px #9e9c88;
}

header {
    width: 100%;
    height: auto;
    text-align: center;
    margin: auto auto;
    padding: 1.2em;
    border-radius: 25px;
    margin-left: -18%;
}

ul {
    list-style-type: none;
}


.current-location {
    color: white;
    text-decoration: underline 2px;
}

li {
    margin-top: 1em;
    background-color: #867d74;
    color: white;
    width: 100%;
    height: auto;
    padding: 0.8em;  /* PROBLEMET?????????? */
    border-radius: 25px;
}

a {
    text-decoration: none;
    text-align: center;
}


li:hover {
    background-color: #A2AF9B;
    cursor: pointer;
}

a:visited {
    color: white;
}


main {
    background-color: #adab96;
    color: white;
    border-radius: 25px;
    width: 80%;
    height: auto;
    padding: 1.8em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;

}

.main-courses {
    overflow-x: scroll;
}

/* kurstabell */
table {
    margin-top: 1.2em;
    padding-right: 10%;
}

th, td {
    border: white 2px solid;
    gap: 10px;
    padding: 0.4em;
}

.break-desktop {
    display: none;
}


/* formulär */
form label, .user-message {
    font-weight: 600;
}

form input {
    margin-top: 0.5em;
    border-radius: 10px;
    height: 2em;
    width: 70%;
    border: 2px solid #9e9c88;
} 

form div {
    margin-bottom: 1em;
}

.user-message {
    font-weight: 600;
}

.hidden-link {
    text-decoration: underline;
    color: #49443f;
}


/* footer */
footer {
    background-color: #789e63;  
    color: white;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px; 
    width: 92%;
    height: auto;
    padding: 0.8em;
    text-align: center;
}


/* tablet */
@media (min-width: 600px) {

    header {
        margin-left: -10%;
    }

    main {
        width: 87%;
        padding-left: 2.8em;
    }
    
}


@media (min-width: 1024px) {

    .logo {
        width: 50%;
    }

    header {
        margin-left: 18%;
        width: 55%;
    }

    main {
        width: 48%;
    }


    /* tabell */
    table {

        padding-right: 0;
    }


    /* formulär */
    form input {
        width: 50%;
    }


    /* footer */
    footer {
        width: 54%;
        margin-left: auto;
        margin-right: auto;
    }

    /* .break-desktop {
        display: block;
    } */

    /* .show-courses {
        display: flex;
        justify-content: space-evenly;

    } */
    /* .show-courses article {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
    } */

    /* .show-courses {
        display: grid;
        grid-template-columns: auto auto;
        padding: 0.8em;
    } */

    /* .show-courses {
        column-count: 2;
    } */

}